@{
    ViewBag.Title = "Statistic";
    Layout = "_Layout";
}

<div class="d-flex flex-row">
    <div class="col-3">
        <Date-picker v-on:pick="onDatePickHandler"/>
    </div>
    <div class="col-9">
        <Statistic-drawer v-bind:series="series" v-bind:categories="categories"/>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/dist/statistic.bundle.js")"></script>
}