@{
    ViewBag.Title = "Statistic";
    Layout = "_Layout";
}

<h1 align="center">Statistic page</h1>
<Statistic-Page>
    <template v-slot:date-selector>
        <Date-Picker />
    </template>
    <template v-slot:statistic-drawer>
        <Statistic-Drawer />
    </template>
</Statistic-Page>

@section Scripts
{
    <script src="@Url.Content("~/dist/statistic.bundle.js")"></script>
}