@{
    ViewBag.Title = "Statistic";
    Layout = "_Layout";
}

<div class="d-flex flex-row">
    <div class="col-3">
        <Date-picker />
    </div>
    <div style="margin: 12px;">
        <Statistic-drawer />
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/dist/statistic.bundle.js")"></script>
}