@{
    ViewBag.Title = "Statistic";
    Layout = "_Layout";
}

<div class="d-flex flex-row">
    <div class="col-2">
        <Date-picker :date.sync="selectedDate" />
    </div>
    <div class="col-10" >
        <Statistic-drawer v-bind:series="series" v-bind:categories="categories" />
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/dist/statistic.bundle.js")"></script>
}