@{
    ViewBag.Title = "Statistic";
    Layout = "_Layout";
}

<App-Bar>
    <div class="d-flex flex-row">
        <div class="col-3">
            <Date-picker />
        </div>
        <div style="margin: 12px;">
            <Statistic-drawer />
        </div>
      </div>
</App-Bar>

@section Scripts
{
    <script src="@Url.Content("~/dist/statistic.bundle.js")"></script>
}