@{
    ViewBag.Title = "Beerland";
    Layout = "_Layout";
}

<App-Bar>
    <h1 align="center"><a href="/statistic/index">View statistic</a></h1>
</App-Bar>

@section Scripts
{
    <script src="@Url.Content("~/dist/home.bundle.js")"></script>
}