@{
    ViewBag.Title = "Beerland";
    Layout = "_Layout";
}

<h1 align="center">Just home page</h1>
<Home-Page></Home-Page>

@section Scripts
{
    <script src="@Url.Content("~/dist/home.bundle.js")"></script>
}