@{
    ViewBag.Title = "Beerland";
    Layout = "_Layout";
}

<h1 align="center"><a href="/statistic/index">View statistic</a></h1>
<h1 align="center"><a href="/Auth/test">Check security / redirect to exception page</a></h1>


@section Scripts
{
    <script src="@Url.Content("~/dist/home.bundle.js")"></script>
}