@{
    ViewBag.Title = "Beerland";
    Layout = "_Layout";
}

<div id="app">
    <Home-Page></Home-Page>
</div>

@section Scripts
{
    <script src="@Url.Content("~/dist/common.bundle.js")"></script>
}